html {
  font-size: 10px;
  background: url(http://kevart.net/data/out/35/900822.jpg) bottom center;
  background-color: #c6b8c7;
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heading h1 {
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  text-align: center;
  color: #562c9c;
  text-shadow: 2px 1px 10px #c0aee1;
}

.navbar {
  background-color: #562c9c;
  width: 100%;
  position: relative;
}

.nav-container {
  margin: 0 10%;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 14px 12px;
  color: white;
}

.r-navtabs {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.r-navtabs li {
  float: right;
}

a.scoreboard {
  background: #4d2194;
  color: #ffc600;
  border-radius: 50%;
  font-size: 16px;
  line-height: 0;
  float: right;
  top: 7px;
  right: 5px;
  position: absolute;
}

.cat {
  width: 100px;
  position: absolute;
  z-index: -1;
  visibility: visible;
}

.cat-hidden {
  visibility: hidden;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 80vh;

  justify-content: center;
  position: relative;
}

.key {
  border: 0.4rem solid #562c9c;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(157, 150, 198, 0.32);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
